.wrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    /* height: 120vh; */
    margin: 0px;
}

main {
    flex: 1;
}

.topnav {
    overflow: hidden;
    background-color: royalblue;
}

.topnav a {
    float: right;
    color: white;
    padding: 20px 30px ;
    text-decoration: none;
    font-size: 30px;
    font-family: "Tiempos Text Regular";
    font-weight: 900;
}

.topnav a:hover {
    border: 3px solid black;
    background-color: #6f8ccb;
    color: black;
    border-radius: 25px;
}

table {
    float: center;
    border-collapse: collapse;
}

table,
th,
td {
    border: 3px solid;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

th {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}

td {
    font-size: large;
    font-weight: bold;
}


.center {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    /* align-items: center; */
    /* height: 100vh; Adjust as needed */
}

.card {
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.558);
    width: max-content; /* Adjust as needed */
    text-align: center;
    margin-bottom: 10px;
}

.card img {
    width: 250px;
    /* display: block; */
    margin: 0 auto;
}

.card-content p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin: 8px 0;
}

.emps {
    display: inline-block;
}


td img{
   
    height: 60px;
    width: 60px;
}

form input {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    width: 20;
}

.section-form {
    margin: 30px auto ;
    padding: 15px;
    border: 3px solid black;
    width:200px;
    display: flex;
    justify-content: center;
}


footer {
    margin-top: 80vh;
    padding: 10px;
    text-align: left;
    font-size: 30px;
    background-color: #222222;
    color: white;
}

footer img {
    float: right;
    height: 60px;
    margin-left: 15px;
}


.topnav .title {
    padding-top: 14px;
    float: left;
    color: white;
    font-family: 'Abril Fatface';
    font-weight: 200;
    font-size: xxx-large;
}

